# PYTHON OPERATORS
- TO PERFORM OPERATIONS ON both variables and values

# Airthmetic operations:
- used to perform mathmetical operations
     - operators:

In [4]:
x = 10
y = 5
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)
print(x**y)
print(x//y)

15
5
50
2.0
0
100000
2

# Assignment operators:()

In [10]:
x = 3
x +=4
print(x)
x-=5
print(x)
x *= 3
print(x)
x %=  5
print(x)
x //=4
print(x)
x = 4
x**=2
print(x)

7
2
6
1
0
16

# comparision operators:

In [11]:
x = 4
y =12
print(x==y)
print(x!=y)
print(x<y)
print(x>y)
print(x<=y)
print(x>=y)

False
True
True
False
True
False

In [14]:
x = 5
print(x <3 and x>7)
print(x >3 or x>7)
print(not(x >3 or x>7))

False
True
False

# identity operators

In [15]:
a= 4
b =4
c=3
print(a is b)
print (a is b)
print(a is c)
print(b is not c)
print(b is not a)

True
True
False
True
False

# membership operator:
- used to text given sequences presented in object\
- operators
 - "in"
 -  "not in"

In [21]:
a = "sai jayanth"
print("sai"in a)
print("i"in a)
print("si"in a)
print("jai"not in a)

True
True
False
True

# control flow statements
 - c

# if else statement:

In [22]:
# syntax:
if boolen_condition:
    statement
elif:
    statement
else:
    statement

SyntaxError: invalid syntax (<ipython-input-22-6a6163367b68>, line 4)

In [25]:
# check given even or odd
n = int(input("enter a number"))
if n%2 ==0:
    print("even number")
else:
    print("odd number")

enter a number4
even number

In [29]:
#check given number is multiple of both 3&5
n = int(input("enter a number"))
if n%3==0 and n%5==0:
     print("yes")
else :
     print("no")

enter a number12
no

In [50]:
#check given number is positive or negative or zero
n = int(input("enter a number"))
if n>0 :
    print("positive")
elif  n<0 :
    print("negative")
else  :
    print("zero")

enter a number5
positive

In [51]:
#find the large nuber by giving 3 inputs
n = int(input("enter a number"))
m = int(input("enter a number"))
k= int(input("enter a number"))
if n<m and n<k :
    print("n is large number")
elif  m>n and m>k :
    print("m is large number ")
elif   k>n and k>m :
    print("k is  large number")

enter a number5
enter a number6
enter a number3
m is large number

In [68]:
# find the grading
n = int(input("enter marks"))
if n>80 :
    print("A")
elif n<80 and n>60 :
    print("B")
elif n>50 and n<60 :
    print ("c")
elif  n>25 and n<45 :
    print ("d")
elif n<25 :
    print ("f")

enter marks55
c

#

In [29]:
#print 1 to 10 numbers
i= 1
while i<11:
    if i%2==0:
        print(i)
    i = i+1

2
4
6
8
10

In [ ]:
#input : 6 o/p: 1,2,3,6
i=1
n = int(input())
while i<=n:
      if n%i==0:
        print(i)
        i=i+1

12
1
2
3
4